---
- hosts: webservers

  roles:
    - ansistrano.deploy

  vars_files:
    - vars/provision_vault.yml
    - vars/vars.yml
    # - vars/provision_vars.yml
    - vars/deploy_vars.yml

  vars:
    ansistrano_deploy_via: "rsync"
    ansistrano_rsync_extra_params:
      - "--exclude='.ddev/'"
      - "--exclude='.DS_Store'"
      - "--exclude='.editorconfig'"
      - "--exclude='.git'"
      - "--exclude='.gitattributes'"
      - "--exclude='.gitignore'"
      - "--exclude='vault_pass.txt'"
      - "--exclude='web/sites/default/settings.ddev.php'"
      - "--exclude='web/sites/default/settings.local.php'"

    ansistrano_deploy_from: "{{ playbook_dir }}/../../"
    ansistrano_deploy_to: "{{ project_deploy_path }}"
    ansistrano_keep_releases: "{{ vault_keep_releases }}"

    # Hooks
    ansistrano_after_update_code_tasks_file: "{{ playbook_dir }}/deploy/after-update-code-tasks.yml"
    ansistrano_after_symlink_tasks_file: "{{ playbook_dir }}/deploy/after-symlink.yml"
    # ansistrano_after_symlink_shared_tasks_file: "{{ playbook_dir }}/deploy/after-symlink-shared.yml"

    ansistrano_shared_paths:
      - "web/sites/default/files"
      - "web/sites/default/private"

    ansistrano_shared_files:
      - "web/sites/default/settings.live.php"

    # ansistrano_before_update_code_tasks_file: "{{ playbook_dir }}/deploy/before-update-code-tasks.yml"
    # ansistrano_after_symlink_tasks_file: "{{ playbook_dir }}/deploy/after-symlink-tasks.yml"
