[defaults]
bin_ansible_callbacks = True
inventory = tools/ansible/hosts.yml
nocows = True
remote_user = xxxxxxxxxx
retry_files_enabled = False
roles_path = tools/ansible/.roles
stdout_callback = yaml
vault_password_file = vault_pass.txt
deprecation_warnings = false

[ssh_connection]
pipelining = True
