---
# Set permissions
- name: Set directory permissions for release_drupal_path
  file:
    path: '{{ ansistrano_current_dir }}'
    mode: '0755'
    state: directory
    recurse: yes

- name: Set directory permissions for ansistrano_shared_path
  file:
    path: '{{ ansistrano_release_path.stdout }}/web/sites/default/files'
    mode: '0755'
    state: directory
    owner: '{{ vault_server_client }}'
    group: '{{ vault_server_group }}'
    recurse: true

- name: Ensure properly permissions to vendor's directory
  file:
    path: '{{ ansistrano_release_path.stdout }}/vendor'
    mode: '0755'
    state: directory
    owner: '{{ vault_server_client }}'
    group: '{{ vault_server_group }}'
    recurse: true

- name: Ensure properly permissions to Drupal's root /web directory
  file:
    path: '{{ ansistrano_release_path.stdout }}/web'
    mode: '0755'
    state: directory
    owner: '{{ vault_server_client }}'
    group: '{{ vault_server_group }}'
    recurse: true

# Unarchive file sql from GZIP
- name: Extract SQL file from Gzip archive using Drush Shell
  ansible.builtin.shell: 'gunzip -c {{ ansistrano_release_path.stdout }}/sql/db.sql.gz > {{ ansistrano_release_path.stdout }}/sql/db.sql'
  # when: vault_mode == 'install'
  tags:
    - unarchive_db

# Import database from local machine to remote server
- name: Import MySQL Database
  ansible.builtin.mysql_db:
    name: '{{ vault_database_name }}'
    login_user: '{{ vault_database_user }}'
    login_password: '{{ vault_database_password }}'
    state: import
    target: '{{ ansistrano_release_path.stdout }}/sql/db.sql'
  # when: vault_mode == 'install'
  tags:
    - db_update

# Import configuration
- name: Import configuration
  command: '{{ release_drush_path }} config-import --yes --verbose'
  args:
    chdir: '{{ ansistrano_release_path.stdout }}'
  # when: vault_mode == 'update'
  tags:
    - import_config

# Rebuild Drupal cache
- name: Rebuild Drupal cache using Drush
  shell: |
    {{ release_drush_path }}
  args:
    chdir: '{{ release_drupal_path }}'
    executable: /bin/bash
  tags:
    - drupal
